/* layer: shortcuts */
.container{max-width:100%;}
@media (min-width: 640px){
.container{max-width:640px;}
}
@media (min-width: 768px){
.container{max-width:768px;}
}
@media (min-width: 1024px){
.container{max-width:1024px;}
}
@media (min-width: 1280px){
.container{max-width:1280px;}
}
@media (min-width: 1536px){
.container{max-width:1536px;}
}
/* layer: typography */
.prose :where(h1,h2,h3,h4,h5,h6):not(.not-prose){color:var(--uno-prose-headings);font-weight:600;line-height:1.25;}.prose :where(a):not(.not-prose){color:var(--uno-prose-links);text-decoration:underline;font-weight:500;}.prose :where(a code):not(.not-prose){color:var(--uno-prose-links);}.prose :where(p,ul,ol,pre):not(.not-prose){margin:1em 0;line-height:1.75;}.prose :where(blockquote):not(.not-prose){margin:1em 0;padding-left:1em;font-style:italic;border-left:.25em solid var(--uno-prose-borders);}.prose :where(h1):not(.not-prose){margin:1rem 0;font-size:2.25em;}.prose :where(h2):not(.not-prose){margin:1.75em 0 .5em;font-size:1.75em;}.prose :where(h3):not(.not-prose){margin:1.5em 0 .5em;font-size:1.375em;}.prose :where(h4):not(.not-prose){margin:1em 0;font-size:1.125em;}.prose :where(img,video):not(.not-prose){max-width:100%;}.prose :where(figure,picture):not(.not-prose){margin:1em 0;}.prose :where(figcaption):not(.not-prose){color:var(--uno-prose-captions);font-size:.875em;}.prose :where(code):not(.not-prose){color:var(--uno-prose-code);font-size:.875em;font-weight:600;font-family:ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation-Mono,Courier-New,monospace;}.prose :where(:not(pre) > code):not(.not-prose)::before,.prose :where(:not(pre) > code):not(.not-prose)::after{content:"`";}.prose :where(pre):not(.not-prose){padding:1.25rem 1.5rem;overflow-x:auto;border-radius:.375rem;}.prose :where(pre,code):not(.not-prose){white-space:pre;word-spacing:normal;word-break:normal;word-wrap:normal;-moz-tab-size:4;-o-tab-size:4;tab-size:4;-webkit-hyphens:none;-moz-hyphens:none;hyphens:none;background:transparent;}.prose :where(pre code):not(.not-prose){font-weight:inherit;}.prose :where(ol,ul):not(.not-prose){padding-left:1.25em;}.prose :where(ul):not(.not-prose){list-style-type:disc;}.prose :where(ol > li):not(.not-prose)::marker,.prose :where(ul > li):not(.not-prose)::marker,.prose :where(summary):not(.not-prose)::marker{color:var(--uno-prose-lists);}.prose :where(hr):not(.not-prose){margin:2em 0;border:1px solid var(--uno-prose-hr);}.prose :where(table):not(.not-prose){display:block;margin:1em 0;border-collapse:collapse;overflow-x:auto;}.prose :where(tr):not(.not-prose):nth-child(2n){background:var(--uno-prose-bg-soft);}.prose :where(td,th):not(.not-prose){border:1px solid var(--uno-prose-borders);padding:.625em 1em;}.prose :where(abbr):not(.not-prose){cursor:help;}.prose :where(kbd):not(.not-prose){color:var(--uno-prose-code);border:1px solid;padding:.25rem .5rem;font-size:.875em;border-radius:.25rem;}.prose :where(details):not(.not-prose){margin:1em 0;padding:1.25rem 1.5rem;background:var(--uno-prose-bg-soft);}.prose :where(summary):not(.not-prose){cursor:pointer;font-weight:600;}
.prose{color:var(--uno-prose-body);max-width:65ch;}
.prose-indigo{--uno-prose-body:#4338ca;--uno-prose-headings:#312e81;--uno-prose-links:#312e81;--uno-prose-lists:#818cf8;--uno-prose-hr:#c7d2fe;--uno-prose-captions:#6366f1;--uno-prose-code:#312e81;--uno-prose-borders:#c7d2fe;--uno-prose-bg-soft:#e0e7ff;--uno-prose-invert-body:#c7d2fe;--uno-prose-invert-headings:#e0e7ff;--uno-prose-invert-links:#e0e7ff;--uno-prose-invert-lists:#6366f1;--uno-prose-invert-hr:#4338ca;--uno-prose-invert-captions:#818cf8;--uno-prose-invert-code:#e0e7ff;--uno-prose-invert-borders:#4338ca;--uno-prose-invert-bg-soft:#3730a3;}
/* layer: default */
.sr-only{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);white-space:nowrap;border-width:0;}
.absolute{position:absolute;}
.fixed{position:fixed;}
.relative{position:relative;}
.inset-0{inset:0rem;}
.inset-x-0{left:0rem;right:0rem;}
.inset-y-0{top:0rem;bottom:0rem;}
.bottom-0{bottom:0rem;}
.bottom-12{bottom:3rem;}
.left-0{left:0rem;}
.left-full{left:100%;}
.right-0{right:0rem;}
.right-full{right:100%;}
.top-0{top:0rem;}
.top-1\/2{top:50%;}
.top-12{top:3rem;}
.z-0{z-index:0;}
.z-50{z-index:50;}
.grid{display:grid;}
.col-span-1{grid-column:span 1/span 1;}
.col-span-2{grid-column:span 2/span 2;}
.grid-cols-1{grid-template-columns:repeat(1,minmax(0,1fr));}
.grid-cols-2{grid-template-columns:repeat(2,minmax(0,1fr));}
.-mx-5{margin-left:-1.25rem;margin-right:-1.25rem;}
.-my-2{margin-top:-0.5rem;margin-bottom:-0.5rem;}
.mx-auto{margin-left:auto;margin-right:auto;}
.-ml-48{margin-left:-12rem;}
.-mr-48{margin-right:-12rem;}
.mb-auto{margin-bottom:auto;}
.ml-3{margin-left:0.75rem;}
.mr-10{margin-right:2.5rem;}
.mt-1{margin-top:0.25rem;}
.mt-10{margin-top:2.5rem;}
.mt-12{margin-top:3rem;}
.mt-2{margin-top:0.5rem;}
.mt-24{margin-top:6rem;}
.mt-3{margin-top:0.75rem;}
.mt-4{margin-top:1rem;}
.mt-5{margin-top:1.25rem;}
.mt-6{margin-top:1.5rem;}
.mt-8{margin-top:2rem;}
.block{display:block;}
.hidden{display:none;}
.h-1\/2{height:50%;}
.h-1\/3{height:33.3333333333%;}
.h-10{height:2.5rem;}
.h-12{height:3rem;}
.h-16{height:4rem;}
.h-32{height:8rem;}
.h-48{height:12rem;}
.h-6{height:1.5rem;}
.h-8{height:2rem;}
.h-80{height:20rem;}
.h-full{height:100%;}
.max-w-2xl{max-width:42rem;}
.max-w-3xl{max-width:48rem;}
.max-w-4xl{max-width:56rem;}
.max-w-7xl{max-width:80rem;}
.max-w-full{max-width:100%;}
.max-w-lg{max-width:32rem;}
.max-w-prose{max-width:65ch;}
.max-w-sm{max-width:24rem;}
.max-w-xl{max-width:36rem;}
.min-h-screen{min-height:100vh;}
.w-10{width:2.5rem;}
.w-12{width:3rem;}
.w-48{width:12rem;}
.w-6{width:1.5rem;}
.w-8{width:2rem;}
.w-auto{width:auto;}
.w-full{width:100%;}
.flex{display:flex;}
.inline-flex{display:inline-flex;}
.flex-1{flex:1 1 0%;}
.flex-shrink-0{flex-shrink:0;}
.grow{flex-grow:1;}
.flex-col{flex-direction:column;}
.flex-wrap{flex-wrap:wrap;}
.origin-top-right{transform-origin:top right;}
.-translate-x-32,
.-translate-y-1\/2,
.translate-x-32,
.scale-100,
.scale-95,
.transform{--un-rotate:0;--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-scale-x:1;--un-scale-y:1;--un-scale-z:1;--un-skew-x:0;--un-skew-y:0;--un-translate-x:0;--un-translate-y:0;--un-translate-z:0;--un-transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
.-translate-x-32{--un-translate-x:-8rem;transform:var(--un-transform);}
.-translate-y-1\/2{--un-translate-y:-50%;transform:var(--un-transform);}
.translate-x-32{--un-translate-x:8rem;transform:var(--un-transform);}
.scale-100{--un-scale-x:1;--un-scale-y:1;transform:var(--un-transform);}
.scale-95{--un-scale-x:0.95;--un-scale-y:0.95;transform:var(--un-transform);}
.transform{transform:var(--un-transform);}
.items-center{align-items:center;}
.justify-center{justify-content:center;}
.justify-between{justify-content:space-between;}
.gap-5{grid-gap:1.25rem;gap:1.25rem;}
.gap-8{grid-gap:2rem;gap:2rem;}
.gap-x-6{grid-column-gap:1.5rem;column-gap:1.5rem;}
.gap-y-12{grid-row-gap:3rem;row-gap:3rem;}
.space-x-1>:not([hidden])~:not([hidden]){--un-space-x-reverse:0;margin-left:calc(0.25rem * calc(1 - var(--un-space-x-reverse)));margin-right:calc(0.25rem * var(--un-space-x-reverse));}
.space-x-3>:not([hidden])~:not([hidden]){--un-space-x-reverse:0;margin-left:calc(0.75rem * calc(1 - var(--un-space-x-reverse)));margin-right:calc(0.75rem * var(--un-space-x-reverse));}
.space-x-4>:not([hidden])~:not([hidden]){--un-space-x-reverse:0;margin-left:calc(1rem * calc(1 - var(--un-space-x-reverse)));margin-right:calc(1rem * var(--un-space-x-reverse));}
.space-x-6>:not([hidden])~:not([hidden]){--un-space-x-reverse:0;margin-left:calc(1.5rem * calc(1 - var(--un-space-x-reverse)));margin-right:calc(1.5rem * var(--un-space-x-reverse));}
.space-y-1>:not([hidden])~:not([hidden]){--un-space-y-reverse:0;margin-top:calc(0.25rem * calc(1 - var(--un-space-y-reverse)));margin-bottom:calc(0.25rem * var(--un-space-y-reverse));}
.space-y-4>:not([hidden])~:not([hidden]){--un-space-y-reverse:0;margin-top:calc(1rem * calc(1 - var(--un-space-y-reverse)));margin-bottom:calc(1rem * var(--un-space-y-reverse));}
.overflow-hidden{overflow:hidden;}
.border{border-width:1px;border-style:solid;}
.border-t{border-top-width:1px;border-style:solid;}
.border-gray-200{--un-border-opacity:1;border-color:rgba(229,231,235,var(--un-border-opacity));}
.border-transparent{border-color:transparent;}
.rounded-full{border-radius:9999px;}
.rounded-lg{border-radius:0.5rem;}
.rounded-md{border-radius:0.375rem;}
.rounded-xl{border-radius:0.75rem;}
.bg-gray-100{--un-bg-opacity:1;background-color:rgba(243,244,246,var(--un-bg-opacity));}
.bg-gray-200{--un-bg-opacity:1;background-color:rgba(229,231,235,var(--un-bg-opacity));}
.bg-gray-50{--un-bg-opacity:1;background-color:rgba(249,250,251,var(--un-bg-opacity));}
.bg-gray-800{--un-bg-opacity:1;background-color:rgba(31,41,55,var(--un-bg-opacity));}
.bg-gray-900{--un-bg-opacity:1;background-color:rgba(17,24,39,var(--un-bg-opacity));}
.bg-indigo-50,
.hover\:bg-indigo-50:hover{--un-bg-opacity:1;background-color:rgba(238,242,255,var(--un-bg-opacity));}
.bg-indigo-500{--un-bg-opacity:1;background-color:rgba(99,102,241,var(--un-bg-opacity));}
.bg-white{--un-bg-opacity:1;background-color:rgba(255,255,255,var(--un-bg-opacity));}
.hover\:bg-gray-700:hover{--un-bg-opacity:1;background-color:rgba(55,65,81,var(--un-bg-opacity));}
.hover\:bg-indigo-100:hover{--un-bg-opacity:1;background-color:rgba(224,231,255,var(--un-bg-opacity));}
.bg-opacity-10{--un-bg-opacity:0.1;}
.bg-opacity-60{--un-bg-opacity:0.6;}
.hover\:bg-opacity-70:hover{--un-bg-opacity:0.7;}
.from-gray-100{--un-gradient-from:rgba(243,244,246, var(--un-from-opacity, 1));--un-gradient-stops:var(--un-gradient-from), var(--un-gradient-to, rgba(255, 255, 255, 0));}
.from-gray-900{--un-gradient-from:rgba(17,24,39, var(--un-from-opacity, 1));--un-gradient-stops:var(--un-gradient-from), var(--un-gradient-to, rgba(255, 255, 255, 0));}
.from-purple-300{--un-gradient-from:rgba(216,180,254, var(--un-from-opacity, 1));--un-gradient-stops:var(--un-gradient-from), var(--un-gradient-to, rgba(255, 255, 255, 0));}
.from-purple-600{--un-gradient-from:rgba(147,51,234, var(--un-from-opacity, 1));--un-gradient-stops:var(--un-gradient-from), var(--un-gradient-to, rgba(255, 255, 255, 0));}
.from-purple-800{--un-gradient-from:rgba(107,33,168, var(--un-from-opacity, 1));--un-gradient-stops:var(--un-gradient-from), var(--un-gradient-to, rgba(255, 255, 255, 0));}
.hover\:from-purple-700:hover{--un-gradient-from:rgba(126,34,206, var(--un-from-opacity, 1));--un-gradient-stops:var(--un-gradient-from), var(--un-gradient-to, rgba(255, 255, 255, 0));}
.hover\:to-indigo-700:hover,
.to-indigo-700{--un-gradient-to:rgba(67,56,202, var(--un-to-opacity, 1));}
.to-indigo-300{--un-gradient-to:rgba(165,180,252, var(--un-to-opacity, 1));}
.to-indigo-600{--un-gradient-to:rgba(79,70,229, var(--un-to-opacity, 1));}
.bg-gradient-to-b{--un-gradient-shape:to bottom;--un-gradient:var(--un-gradient-shape), var(--un-gradient-stops);background-image:linear-gradient(var(--un-gradient));}
.bg-gradient-to-r{--un-gradient-shape:to right;--un-gradient:var(--un-gradient-shape), var(--un-gradient-stops);background-image:linear-gradient(var(--un-gradient));}
.bg-clip-text{-webkit-background-clip:text;background-attachment:text;}
.bg-origin-border{background-origin:border-box;}
.object-cover{object-fit:cover;}
.p-1{padding:0.25rem;}
.p-2{padding:0.5rem;}
.p-6{padding:1.5rem;}
.px-2{padding-left:0.5rem;padding-right:0.5rem;}
.px-3{padding-left:0.75rem;padding-right:0.75rem;}
.px-4{padding-left:1rem;padding-right:1rem;}
.px-5{padding-left:1.25rem;padding-right:1.25rem;}
.py-1{padding-top:0.25rem;padding-bottom:0.25rem;}
.py-10{padding-top:2.5rem;padding-bottom:2.5rem;}
.py-12{padding-top:3rem;padding-bottom:3rem;}
.py-16{padding-top:4rem;padding-bottom:4rem;}
.py-2{padding-top:0.5rem;padding-bottom:0.5rem;}
.py-3{padding-top:0.75rem;padding-bottom:0.75rem;}
.py-8{padding-top:2rem;padding-bottom:2rem;}
.pb-20{padding-bottom:5rem;}
.pb-3{padding-bottom:0.75rem;}
.pb-32{padding-bottom:8rem;}
.pb-64{padding-bottom:16rem;}
.pl-4{padding-left:1rem;}
.pr-2{padding-right:0.5rem;}
.pr-4{padding-right:1rem;}
.pt-12{padding-top:3rem;}
.pt-16{padding-top:4rem;}
.pt-2{padding-top:0.5rem;}
.pt-6{padding-top:1.5rem;}
.text-center{text-align:center;}
.text-2xl{font-size:1.5rem;line-height:2rem;}
.text-3xl{font-size:1.875rem;line-height:2.25rem;}
.text-4xl{font-size:2.25rem;line-height:2.5rem;}
.text-base{font-size:1rem;line-height:1.5rem;}
.text-lg{font-size:1.125rem;line-height:1.75rem;}
.text-sm{font-size:0.875rem;line-height:1.25rem;}
.text-xl{font-size:1.25rem;line-height:1.75rem;}
.font-bold{font-weight:700;}
.font-extrabold{font-weight:800;}
.font-medium{font-weight:500;}
.font-semibold{font-weight:600;}
.leading-8{line-height:2rem;}
.leading-tight{line-height:1.25;}
.tracking-tight{letter-spacing:-0.025em;}
.tracking-wide{letter-spacing:0.025em;}
.uppercase{text-transform:uppercase;}
.hover\:text-gray-500:hover,
.text-gray-500{--un-text-opacity:1;color:rgba(107,114,128,var(--un-text-opacity));}
.hover\:text-gray-900:hover,
.text-gray-900{--un-text-opacity:1;color:rgba(17,24,39,var(--un-text-opacity));}
.hover\:text-white:hover,
.text-white{--un-text-opacity:1;color:rgba(255,255,255,var(--un-text-opacity));}
.text-gray-200{--un-text-opacity:1;color:rgba(229,231,235,var(--un-text-opacity));}
.text-gray-300{--un-text-opacity:1;color:rgba(209,213,219,var(--un-text-opacity));}
.text-gray-400{--un-text-opacity:1;color:rgba(156,163,175,var(--un-text-opacity));}
.text-gray-700{--un-text-opacity:1;color:rgba(55,65,81,var(--un-text-opacity));}
.text-indigo-200{--un-text-opacity:1;color:rgba(199,210,254,var(--un-text-opacity));}
.text-indigo-600{--un-text-opacity:1;color:rgba(79,70,229,var(--un-text-opacity));}
.text-indigo-700{--un-text-opacity:1;color:rgba(67,56,202,var(--un-text-opacity));}
.text-indigo-800{--un-text-opacity:1;color:rgba(55,48,163,var(--un-text-opacity));}
.text-purple-200{--un-text-opacity:1;color:rgba(233,213,255,var(--un-text-opacity));}
.text-transparent{color:transparent;}
.hover\:underline:hover{text-decoration-line:underline;}
.opacity-0{opacity:0;}
.opacity-100{opacity:1;}
.opacity-25{opacity:0.25;}
.mix-blend-multiply{mix-blend-mode:multiply;}
.shadow-lg,
.shadow-sm,
.shadow-xl{--un-ring-offset-shadow:0 0 #0000;--un-ring-shadow:0 0 #0000;--un-shadow-inset:var(--un-empty,/*!*/ /*!*/);--un-shadow:0 0 #0000;}
.shadow-lg{--un-shadow:var(--un-shadow-inset) 0 10px 15px -3px var(--un-shadow-color, rgba(0,0,0,0.1)),var(--un-shadow-inset) 0 4px 6px -4px var(--un-shadow-color, rgba(0,0,0,0.1));box-shadow:var(--un-ring-offset-shadow, 0 0 #0000), var(--un-ring-shadow, 0 0 #0000), var(--un-shadow);}
.shadow-sm{--un-shadow:var(--un-shadow-inset) 0 1px 2px 0 var(--un-shadow-color, rgba(0,0,0,0.05));box-shadow:var(--un-ring-offset-shadow, 0 0 #0000), var(--un-ring-shadow, 0 0 #0000), var(--un-shadow);}
.shadow-xl{--un-shadow:var(--un-shadow-inset) 0 20px 25px -5px var(--un-shadow-color, rgba(0,0,0,0.1)),var(--un-shadow-inset) 0 8px 10px -6px var(--un-shadow-color, rgba(0,0,0,0.1));box-shadow:var(--un-ring-offset-shadow, 0 0 #0000), var(--un-ring-shadow, 0 0 #0000), var(--un-shadow);}
.focus\:outline-none:focus{outline:2px solid transparent;outline-offset:2px;}
.focus\:ring-2:focus,
.ring-1{--un-ring-offset-shadow:0 0 #0000;--un-ring-shadow:0 0 #0000;--un-shadow-inset:var(--un-empty,/*!*/ /*!*/);--un-shadow:0 0 #0000;--un-ring-inset:var(--un-empty,/*!*/ /*!*/);--un-ring-offset-width:0px;--un-ring-offset-color:#fff;--un-ring-width:0px;--un-ring-color:rgba(147,197,253,0.5);}
.focus\:ring-2:focus{--un-ring-width:2px;--un-ring-offset-shadow:var(--un-ring-inset) 0 0 0 var(--un-ring-offset-width) var(--un-ring-offset-color);--un-ring-shadow:var(--un-ring-inset) 0 0 0 calc(var(--un-ring-width) + var(--un-ring-offset-width)) var(--un-ring-color);box-shadow:var(--un-ring-offset-shadow), var(--un-ring-shadow), var(--un-shadow, 0 0 #0000);}
.ring-1{--un-ring-width:1px;--un-ring-offset-shadow:var(--un-ring-inset) 0 0 0 var(--un-ring-offset-width) var(--un-ring-offset-color);--un-ring-shadow:var(--un-ring-inset) 0 0 0 calc(var(--un-ring-width) + var(--un-ring-offset-width)) var(--un-ring-color);box-shadow:var(--un-ring-offset-shadow), var(--un-ring-shadow), var(--un-shadow, 0 0 #0000);}
.focus\:ring-offset-2:focus{--un-ring-offset-width:2px;}
.focus\:ring-white:focus{--un-ring-opacity:1;--un-ring-color:rgba(255,255,255,var(--un-ring-opacity));}
.ring-black{--un-ring-opacity:1;--un-ring-color:rgba(0,0,0,var(--un-ring-opacity));}
.ring-opacity-5{--un-ring-opacity:0.05;}
.focus\:ring-offset-gray-800:focus{--un-ring-offset-opacity:1;--un-ring-offset-color:rgba(31,41,55,var(--un-ring-offset-opacity));}
.focus\:ring-inset:focus{--un-ring-inset:inset;}
.transition{transition-property:color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);transition-duration:150ms;}
.duration-100{transition-duration:100ms;}
.duration-75{transition-duration:75ms;}
.ease-in{transition-timing-function:cubic-bezier(0.4, 0, 1, 1);}
.ease-out{transition-timing-function:cubic-bezier(0, 0, 0.2, 1);}
@media (min-width: 640px){
.sm\:static{position:static;}
.sm\:inset-auto{inset:auto;}
.sm\:inline-grid{display:inline-grid;}
.sm\:grid-cols-2{grid-template-columns:repeat(2,minmax(0,1fr));}
.sm\:mx-auto{margin-left:auto;margin-right:auto;}
.sm\:ml-6{margin-left:1.5rem;}
.sm\:mt-16{margin-top:4rem;}
.sm\:mt-4{margin-top:1rem;}
.sm\:block{display:block;}
.sm\:hidden{display:none;}
.sm\:h-2\/3{height:66.6666666667%;}
.sm\:max-w-3xl{max-width:48rem;}
.sm\:max-w-none{max-width:none;}
.sm\:flex{display:flex;}
.sm\:items-stretch{align-items:stretch;}
.sm\:justify-start{justify-content:flex-start;}
.sm\:justify-center{justify-content:center;}
.sm\:gap-5{grid-gap:1.25rem;gap:1.25rem;}
.sm\:space-x-5>:not([hidden])~:not([hidden]){--un-space-x-reverse:0;margin-left:calc(1.25rem * calc(1 - var(--un-space-x-reverse)));margin-right:calc(1.25rem * var(--un-space-x-reverse));}
.sm\:space-y-0>:not([hidden])~:not([hidden]){--un-space-y-reverse:0;margin-top:calc(0rem * calc(1 - var(--un-space-y-reverse)));margin-bottom:calc(0rem * var(--un-space-y-reverse));}
.sm\:overflow-hidden{overflow:hidden;}
.sm\:rounded-2xl{border-radius:1rem;}
.sm\:bg-orange-200{--un-bg-opacity:1;background-color:rgba(254,215,170,var(--un-bg-opacity));}
.sm\:px-0{padding-left:0rem;padding-right:0rem;}
.sm\:px-6{padding-left:1.5rem;padding-right:1.5rem;}
.sm\:px-8{padding-left:2rem;padding-right:2rem;}
.sm\:py-24{padding-top:6rem;padding-bottom:6rem;}
.sm\:pb-24{padding-bottom:6rem;}
.sm\:pb-64{padding-bottom:16rem;}
.sm\:pl-6{padding-left:1.5rem;}
.sm\:pr-0{padding-right:0rem;}
.sm\:pr-6{padding-right:1.5rem;}
.sm\:pt-20{padding-top:5rem;}
.sm\:pt-24{padding-top:6rem;}
.sm\:text-4xl{font-size:2.25rem;line-height:2.5rem;}
.sm\:text-5xl{font-size:3rem;line-height:1;}
}
@media (min-width: 768px){
.md\:col-span-2{grid-column:span 2/span 2;}
.md\:col-start-2{grid-column-start:2;}
.md\:col-start-4{grid-column-start:4;}
.md\:grid-cols-6{grid-template-columns:repeat(6,minmax(0,1fr));}
.md\:-ml-16{margin-left:-4rem;}
.md\:-mr-16{margin-right:-4rem;}
.md\:block{display:block;}
.md\:hidden{display:none;}
.md\:bg-green-200{--un-bg-opacity:1;background-color:rgba(187,247,208,var(--un-bg-opacity));}
}
@media (min-width: 1024px){
.lg\:absolute{position:absolute;}
.lg\:relative{position:relative;}
.lg\:inset-y-0{top:0rem;bottom:0rem;}
.lg\:left-0{left:0rem;}
.lg\:right-0{right:0rem;}
.lg\:grid{display:grid;}
.lg\:col-span-1{grid-column:span 1/span 1;}
.lg\:col-start-1{grid-column-start:1;}
.lg\:col-start-2{grid-column-start:2;}
.lg\:grid-flow-col-dense{grid-auto-flow:column dense;}
.lg\:grid-cols-2{grid-template-columns:repeat(2,minmax(0,1fr));}
.lg\:grid-cols-3{grid-template-columns:repeat(3,minmax(0,1fr));}
.lg\:grid-cols-4{grid-template-columns:repeat(4,minmax(0,1fr));}
.lg\:grid-cols-5{grid-template-columns:repeat(5,minmax(0,1fr));}
.lg\:m-0{margin:0rem;}
.lg\:mx-0{margin-left:0rem;margin-right:0rem;}
.lg\:mx-auto{margin-left:auto;margin-right:auto;}
.lg\:mt-0{margin-top:0rem;}
.lg\:mt-16{margin-top:4rem;}
.lg\:block{display:block;}
.lg\:hidden{display:none;}
.lg\:h-full{height:100%;}
.lg\:max-w-7xl{max-width:80rem;}
.lg\:max-w-none{max-width:none;}
.lg\:w-auto{width:auto;}
.lg\:w-full{width:100%;}
.lg\:flex{display:flex;}
.lg\:items-center{align-items:center;}
.lg\:justify-between{justify-content:space-between;}
.lg\:gap-24{grid-gap:6rem;gap:6rem;}
.lg\:gap-x-8{grid-column-gap:2rem;column-gap:2rem;}
.lg\:gap-y-16{grid-row-gap:4rem;row-gap:4rem;}
.lg\:bg-purple-200{--un-bg-opacity:1;background-color:rgba(233,213,255,var(--un-bg-opacity));}
.lg\:px-0{padding-left:0rem;padding-right:0rem;}
.lg\:px-8{padding-left:2rem;padding-right:2rem;}
.lg\:py-16{padding-top:4rem;padding-bottom:4rem;}
.lg\:py-32{padding-top:8rem;padding-bottom:8rem;}
.lg\:pb-28{padding-bottom:7rem;}
.lg\:pt-24{padding-top:6rem;}
.lg\:text-6xl{font-size:3.75rem;line-height:1;}
}
@media (min-width: 1280px){
.xl\:absolute{position:absolute;}
.xl\:relative{position:relative;}
.xl\:inset-0{inset:0rem;}
.xl\:inset-y-0{top:0rem;bottom:0rem;}
.xl\:left-0{left:0rem;}
.xl\:top-0{top:0rem;}
.xl\:grid{display:grid;}
.xl\:col-start-1{grid-column-start:1;}
.xl\:col-start-2{grid-column-start:2;}
.xl\:grid-flow-col-dense{grid-auto-flow:column dense;}
.xl\:grid-cols-2{grid-template-columns:repeat(2,minmax(0,1fr));}
.xl\:block{display:block;}
.xl\:hidden{display:none;}
.xl\:h-full{height:100%;}
.xl\:w-32{width:8rem;}
.xl\:gap-x-8{grid-column-gap:2rem;column-gap:2rem;}
.xl\:bg-red-200{--un-bg-opacity:1;background-color:rgba(254,202,202,var(--un-bg-opacity));}
.xl\:bg-gradient-to-r{--un-gradient-shape:to right;--un-gradient:var(--un-gradient-shape), var(--un-gradient-stops);background-image:linear-gradient(var(--un-gradient));}
.xl\:pb-24{padding-bottom:6rem;}
}